<nav class="tekton-navbar navbar navbar-expand-lg" aria-label="Main navigation">
  <div class="tekton-navbar__inner">
    <a class="tekton-navbar__brand" href="{{ .Site.Home.RelPermalink }}" aria-label="Tekton home">
      <img src="{{ "images/tekton-horizontal-color.png" | relURL }}" alt="Tekton">
    </a>

    <button class="tekton-navbar__toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#tekton-navbar-content" aria-controls="tekton-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="tekton-navbar-content">
      {{ if ne .Page.Title "Search" }}
        <div class="tekton-navbar__search">
          {{ partial "search-input.html" . }}
          <kbd class="tekton-navbar__search-shortcut" aria-hidden="true">Ctrl K</kbd>
        </div>
      {{ end }}

      <ul class="tekton-navbar__links navbar-nav">
        {{ $page := . }}
        {{ range .Site.Menus.main }}
          {{ $active := or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }}
          {{ with .Page }}{{ $active = or $active ($page.IsDescendant .) }}{{ end }}
          {{ $url := urls.Parse .URL }}
          {{ $baseURL := urls.Parse $.Site.BaseURL }}
          <li class="nav-item">
            <a class="nav-link{{ if $active }} active{{ end }}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"{{ if and $url.Host (ne $url.Host $baseURL.Host) }} target="_blank" rel="noreferrer"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>

    <div class="tekton-navbar__utilities">
      {{ if strings.Contains .Page.RelPermalink "vault/" }}
        <div class="tekton-navbar__version">{{ partial "navbar-version-selector-vault.html" . }}</div>
      {{ else if strings.Contains .Page.RelPermalink "docs/" }}
        <div class="tekton-navbar__version">{{ partial "navbar-version-selector-docs.html" . }}</div>
      {{ end }}

      <a class="tekton-navbar__icon" href="https://github.com/tektoncd" target="_blank" rel="noreferrer" aria-label="Tekton on GitHub">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
      <a class="tekton-navbar__star" href="https://github.com/tektoncd/pipeline" target="_blank" rel="noreferrer">
        <i class="fab fa-github" aria-hidden="true"></i><span>Star</span>
      </a>
      <a class="tekton-navbar__icon" href="https://join.slack.com/t/tektoncd/shared_invite/zt-1z8ctzsyv-wLXWwA2Rl3AOhcNGqpWRUw" target="_blank" rel="noreferrer" aria-label="Join the Tekton Slack workspace">
        <i class="fab fa-slack" aria-hidden="true"></i>
      </a>
      <div class="tekton-navbar__theme-control">
        <button class="tekton-navbar__icon tekton-navbar__theme-toggle" type="button" aria-label="Change theme" aria-expanded="false" aria-haspopup="menu">
          <svg class="tekton-navbar__theme-icon tekton-navbar__theme-icon--light" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M4.93 19.07l1.41-1.41M17.66 6.34l1.41-1.41"></path>
          </svg>
          <svg class="tekton-navbar__theme-icon tekton-navbar__theme-icon--dark" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
            <path d="M20.35 15.35A9 9 0 0 1 8.65 3.65 9 9 0 1 0 20.35 15.35Z"></path>
          </svg>
          <svg class="tekton-navbar__theme-icon tekton-navbar__theme-icon--system" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
            <path d="M12 3a9 9 0 1 0 0 18V3Z"></path>
            <path d="M12 3a9 9 0 0 1 0 18"></path>
          </svg>
        </button>
        <ul class="tekton-navbar__theme-menu" role="menu" aria-label="Theme" hidden>
          <li role="none"><button type="button" role="menuitem">Light</button></li>
          <li role="none"><button type="button" role="menuitem">Dark</button></li>
          <li role="none"><button type="button" role="menuitem">System</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
